/* Базовая стилизация */
body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;

  background-color: #8ca496;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;

  color: #ffffff;

  text-decoration: underline;
  text-decoration-color: rgb(255, 255, 255,  0.3);
}

a:hover, a:focus {
  color: #ffbc9e;

  text-decoration-color: rgb(255, 188, 158,  0.3);
}

.btn, .btn:hover, .btn:focus {
  font: inherit;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;

  border: none;
  border-radius: 20px;
}

.btn {
  background-color: #ffffff;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
}

.btn:hover {
  box-shadow: 0 2px 2px #ac1000;
  background-color: rgba(255, 255, 255, 0.2);
  background-color: #ffffff;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
}

.btn:focus {
  box-shadow: inset 0 2px 2px #942718;
  background-color: rgba(0, 0, 0, 0.07);
  background-color: #ffffff;
  background-image: linear-gradient(to top, #f26843 0%, #e74a35 100%);
}

.site-nav, 
.sub-menu, 
.user-nav, 
.promo-list, 
.popular-list, 
.social-list, 
.workflow-list, 
.breadcrumbs, 
.catalog-list,
.filter-fat-list,
.filter-fill-list,
.pagination-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-nav {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.site-nav a:hover {
  text-decoration: none;
  color: #333333;

  background-color: #f7f6f3;

  border-radius: 15px;
}

.site-nav a:focus {
  box-shadow: inset 0 2px 1px #696969;
  background-color: #f8f7f4;
} 

.current {
  color: #ffffff;

  border-radius: 15px;
  background-color: #d07058;
}

.sub-menu {
  color: #323232;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;

  border-radius: 5px;
}

.sub-menu li {
  border-radius: 0;
}

.sub-menu a {
  color: #323232;  
}

.sub-menu a:hover {
  background-color: #fbded7;
   border-radius: 0;
}

.sub-menu-promo-link a {
  font-weight: 700;
}

.sub-menu .current {
  background-color: #fbded7;
}

.user-nav a { 
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;

  background-color: rgb(255, 255, 255, 0.2);
  border-radius: 15px;
}

.user-nav a:hover {
  text-decoration: none;
  color: #323232;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;

  background-color: #f8f7f4;
}

.user-block-login, 
.search-form, 
.cart-content {
  color: #323232;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;

  border-radius: 5px;
  box-shadow: 0 20px 20px rgb(0, 0, 0, 0.4);
  background-color: #f8f7f4;
}


.user-block-remember a {
  color: #323232;

  text-decoration: underline;
  text-decoration-color: rgb(50, 50, 50, 0.3);
}

.user-block-remember a:hover, .user-block-remember a:focus {
  color: #e84d37;
  
  text-decoration: underline;
  text-decoration-color: rgb(232, 77, 55, 0.3);
}

.user-block-form-btn, 
.user-block-form-btn:hover, 
.user-block-form-btn:focus {
  color: #fefefe;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
 
/*поля ввода*/

.search-form input[type="search"], 
.user-block-form input[type="email"],
.user-block-form input[type="password"],
.subscribe-form input[type="email"],
.feedback-form input[type="text"],
.feedback-form input[type="email"],
.feedback-form textarea {
  color: #323232;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.search-form input[type="search"]::placeholder,
.user-block-form input[type="email"]::placeholder,
.user-block-form input[type="password"]::placeholder,
.subscribe-form input[type="email"]::placeholder,
.feedback-form input[type="text"]::placeholder,
.feedback-form input[type="email"]::placeholder,
.feedback-form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #999999;
} 

/*поля ввода при наведении*/
.search-form input[type="search"]:hover, 
.user-block-form input[type="email"]:hover,
.user-block-form input[type="password"]:hover,
.subscribe-form input[type="email"]:hover,
.feedback-form input[type="text"]:hover,
.feedback-form input[type="email"]:hover,
.feedback-form textarea:hover {
  border: 1px solid #b2b2b2;
}

/*поля ввода при нажатии курсора*/
.search-form input[type="search"]:focus, 
.user-block-form input[type="email"]:focus,
.user-block-form input[type="password"]:focus,
.subscribe-form input[type="email"]:focus,
.feedback-form input[type="text"]:focus,
.feedback-form input[type="email"]:focus,
.feedback-form textarea:focus {
  border: 2px solid rgb(46,136,228,0.52);
}


.working-hours {
  text-align: right;
}

.work-time {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.work-tel {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
}

.promo-list {
  font-size: 18px;
  line-height: 22px; 
}

.promo-item h3 {
  font-size: 35px;
  line-height: 41px;
}

.promo-list li:first-child {
  background-color: #7a1020;
  background-image: url("../img/malina.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.promo-list li:last-child {
  background-color: #2b140a;
  background-image: url("../img/chocolate.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.promo-item-btn {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.popular-item:hover,
.popular-item:focus {
  color: #ffffff;

  background-color: #a0b3ab;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.popular-item h3, .catalog-item h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;

  text-decoration: underline;
  text-align: center;
}

.popular-item-price, .catalog-item-price {
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;

  text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);
}

.popular-item-price > span,  .catalog-item-price > span  {
  font-size: 30px;
}

.popular-item-btn, 
.catalog-item-btn, 
.catalog-item-btn:hover, 
.catalog-item-btn:focus {
  font-size: 30px;
  line-height: 13px;
}


.popular-item-img img,
.catalog-item-img img {
  background-size: 180px;
  border-radius: 50%;
}

.features {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;

  background-color: #e9dec1;
  background-image: url("../img/about-bg.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.features-list {
  list-style: none;
}

.features-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.blog-preview {
  color: #353535;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;

  background-color: #ffffff;
  background-image: url("../img/blog-post-img.jpg");
  background-position: 0 0;
  background-size: contain;
  background-repeat: no-repeat;
}

.blog-preview-title {
  color: #5a5a5a;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.blog-preview a {
  color: #353535;

  text-decoration: underline;
  text-decoration-color: rgb(53, 53, 53, 0.3);
}

.blog-preview a:hover, .blog-preview a:focus {
  color: #e84d37;
  
  text-decoration: underline;
  text-decoration-color: rgb(232, 77, 55, 0.3);
}

.subscribe {
  color: #5a5a5a;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;

  background-color: #f8f7f4;
  background-image: url("../img/subscribe.png");
  background-position: 0 0;
  background-size: contain;
  background-repeat: repeat;
}

.subscribe-inner {
  background-color: #f8f7f4;

}

.subscribe-form-btn {
  color: #fefefe;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.contaсt-us {
  color: #323232;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  background-color: #ffffff;
}

.contact-us-address b,
.contact-us-tel a,
.contact-us a {
  color: #323232;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.contaсt-us-btn {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.workflow a,
.copyright a {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
}

.copyright {
  font-size: 12px;
  line-height: 16px;
  font-weight: 300;
  text-align: right;
}

.modal {
  color: #323232;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;

  background-color: #f8f7f4;
  border: 1px solid #979797;
 }


 .feedback-btn {
  color: #fefefe;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
 }

 .breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
  text-decoration: underline;
}

.breadcrumbs .breadcrumbs-current {
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
}
.breadcrumbs a:focus,
.breadcrumbs a:hover {
  color: #ffbc9e;
}

.filters {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;

}

.filters fieldset {
  border: none;
}

 .filters select{
  background-color: #a0b3ab;
  border-radius: 50px;
}

.filter-fat-list li,
.filter-fill-list li {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.pagination-item a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #a0b3ab;
  border-radius: 50%;
}

.pagination-item-current a,
.pagination-item a:active
 {
  color: #353535;

  background-color: #fbfbfb;
  border-radius: 50%;
}

