html {
  max-width: 1200px;
  min-width: 900px;
  box-sizing: border-box;
  margin: 0 auto;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
  background-color: #8ca496;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Ссылки*/

.link a, .link-black a { 
  text-decoration: underline;
}

.link {
  color: #ffffff;
  text-decoration-color: rgb(255, 255, 255, 0.3);
}

.link:hover, .link:focus {
  color: #ffbc9e;
  text-decoration-color: rgb(255, 188, 158, 0.3);
}

.link-black{
  color: #323232;
  text-decoration-color: rgb(50, 50, 50, 0.3);
}

.link-black:hover,.link-black:focus {
  color: #e84d37;
  text-decoration-color: rgb(232, 77, 55, 0.3);
}


/*Кнопки*/

.btn, .btn:hover, .btn:focus {
  font: inherit;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  border: none;
  border-radius: 20px;
}

.btn {
  color: #ffffff;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);

}

.btn:hover {
  color: #ffffff;
  box-shadow: 0 2px 2px #ac1000;
  background-color: rgba(255, 255, 255, 0.2);
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
}

.btn:focus {
  color: #fefefe;
  box-shadow: inset 0 2px 2px #942718;
  background-color: rgba(0, 0, 0, 0.07);
  background-image: linear-gradient(to top, #f26843 0%, #e74a35 100%);
}

.small-btn, /*Небольшие кнопки*/
.small-btn:hover,
.small-btn:focus {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.big-btn, /*Большая кнопка*/
.big-btn:hover,
.big-btn:focus {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
}

.filter-btn, /*Кнопка фильтра*/
.filter-btn:hover,
.filter-btn:focus {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.filter-btn {
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 20px;
  background-color: rgb(255,255,255,0.2);
}

.filter-btn:hover {
  color: #323232;
  background-color: #ffffff;
}

.filter-btn:focus {
  color: #323232;
  box-shadow: inset 0 2px 1px #696969;
  background-color: #ededed;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 2.3%;
}

/*----Шапка----*/
.main-header-wrapper {
  display: flex;
  align-items: center;
  margin-top: 3px;
}

.main-nav {
  display: flex;
  width: 77%;
}

.header-logo img {
  width: 154px;
  height: 64px;
  margin-right: 23px;
}

.site-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 349px; 
}

.site-nav a, .site-nav a:focus{
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: #ffffff;
  text-decoration-color: rgb(255, 255, 255, 0.3);
}

.site-nav a:hover {
  text-decoration: none;
  color: #333333;
  background-color: #f7f6f3;
  border-radius: 15px;
}

.site-nav a:focus {
  box-shadow: inset 0 2px 1px #696969;
  background-color: #f8f7f4;
}

/*Временно скрыла подменю*/
.sub-menu {
  display: none;
}

.current {
  color: #ffffff;
  border-radius: 15px;
  background-color: #d07058;
}

.sub-menu {
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  border-radius: 5px;
}

.sub-menu a, 
.sub-menu a:hover, 
.sub-menu a:focus{
  border-radius: 0;
}

.sub-menu a {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #323232; border-radius: 0;
}

.sub-menu a:hover {
  background-color: #fbded7;
}

.sub-menu a:focus {
  background-color: #f6b5a5;
}

.sub-menu-promo-link a {
  font-weight: 700;
}

.sub-menu .current {
  background-color: #fbded7;
}

.user-nav {
  display: flex;
  justify-content: space-between;
  width: 266px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

/*Временно скрыла формs пользовательского меню*/
.search-form, .user-block-login  {
  display: none;
}

.user-nav-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px; 
  text-decoration: none;
  color: #ffffff;
  border-radius: 15px;
  background-color: rgb(255, 255, 255, 0.2);
}

.user-nav-link:hover {
  text-decoration: none;
  color: #323232;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  background-color: #f8f7f4;
}

.user-menu-form {
  border-radius: 5px;
  box-shadow: 0 20px 20px rgb(0, 0, 0, 0.4);
  background-color: #f8f7f4;
}

.cart-content {
  display: none;
}

/*поля ввода*/

 .input {
  color: #323232;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}
.input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #999999;
} 

.input:hover {
  border: 1px solid #b2b2b2;
}

.input:focus {
  border: 2px solid rgb(46,136,228,0.52);
}

.cart-full-table {
  color: #323232;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}

.cart-one-item-price {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: #999999;
}

.cart-content-price {
  color: #323232;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
}

.working-hours {
  margin-top: -20px;
  text-align: right;
}

.work-time {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.work-tel {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
}

.work-tel {
  display: block;
}

/*Временно пока нет слайдера*/
.slider {
  min-height: 515px;
  min-width: 100%;
}

/*----Акции----*/

.promo {
  margin-bottom: 40px;
}

.promo-list {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  line-height: 22px; 
}

.promo-item {
  display: flex;
  flex-direction: column;
  width: calc(50% - 1.13%);
  min-height: 230px;
  border-radius: 16px;
  padding: 16px 20px 23px 19px;
}

.promo-item h3 {
  margin: 0;
  margin-bottom: 15px;
  font-size: 35px;
  line-height: 41px;
}

.promo-item p {
  margin: 0;
  margin-bottom: 10px;
  font-size: 18px;

}

.promo-item-btn {
  margin-top: auto;
  margin-left: auto;
}

.promo-list li:first-child {
  background-color: #7a1020;
  background-image: url("../img/malina.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.promo-list li:last-child {
  background-color: #2b140a;
  background-image: url("../img/chocolate.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

/*----Хиты----*/

.popular {
  margin-bottom: 40px;
}

.popular-list, .catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
}

.popular-item {
  position: relative;
  width: calc(25% - 1.7%);
  margin-bottom: 40px;
}

.catalog-item {
  position: relative;
  width: calc(25% - 0.7%);
  margin-bottom: 40px;
}

.popular-item:hover,
.popular-item:focus,
.catalog-item:hover,
.catalog-item:focus {
  color: #ffffff;
  background-color: #a0b3ab;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.popular-item a, .catalog a {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

}

.popular-item h3, 
.catalog-item h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-decoration: underline;
  text-align: center;
}

.popular-item-price, 
.catalog-item-price {
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);
}

.popular-item-price > span,  
.catalog-item-price > span  {
  font-size: 30px;
}

.popular-item-img img,
.catalog-item-img img {
  background-size: 180px;
  border-radius: 50%;
}

/*----Преимущества----*/

.features {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;
  background-color: #e9dec1;
  background-image: url("../img/about-bg.jpg");
  background-position: 0 0;
  background-repeat: repeat;
  padding: 25px 20px;
  margin-bottom: 40px;
  border-radius: 15px;
}

.features-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; 
  list-style: none;
}

.features-item {
  position: relative;
  width: calc(50% - 2.2%);
}

.features-title {
  margin: 0;
  padding-right: 90px; 
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  text-align: justify;
}

/*----Блог и рассылка----*/

.columns-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.blog-preview {
  width: calc(50% - 1.13%);
  min-height: 220px;
  padding: 23px 19px;
  color: #353535;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  background-color: #ffffff;
  background-image: url("../img/blog-post-img.jpg");
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.blog-preview-title {
  width: 292px;
  color: #5a5a5a;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.blog-preview a {
  color: #353535;
  text-decoration: underline;
  text-decoration-color: rgb(53, 53, 53, 0.3);
}

.blog-preview a:hover, .blog-preview a:focus {
  color: #e84d37;
  
  text-decoration: underline;
  text-decoration-color: rgb(232, 77, 55, 0.3);
}

.subscribe {
  width: calc(50% - 1.13%);
  min-height: 220px;
  color: #5a5a5a;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  background-color: #f8f7f4;
  background-image: url("../img/subscribe.png");
  background-position: 0 0;
  background-size: contain;
  background-repeat: repeat;
  border-radius: 15px;
}

.subscribe-inner {
  margin-top: 5px; /**/
  background-color: #f8f7f4;
}

/**----Контакты-----**/

.contaсt-us {
  position: relative;
  width: 100%;
  overflow: hidden;
  color: #323232;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  background-color: #ffffff;
}

.contact-us-map img {
  min-width: 900px;
  max-width: 1200px;

}

.contact-us-wrapper {
  width: 302px;
  padding: 28px 25px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;

}

.contact-us-address b,
.contact-us-tel a,
.contact-us a {
  display: block;
  color: #323232;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

/*----Подвал----*/

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 17px;
  padding-bottom: 25px;
}

.footer-social {
  width: calc(23.3% - 1.51%);
  margin-top: 7px;
  margin-right: 40px;
}

.social-list {
  display: flex;
}

.workflow-menu {
  width: calc(48.86% - 3.02%);
  margin-top: 10px;
}

.workflow-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 340px;
  margin: 0 auto;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.workflow-list li {
  width: 142px;
  padding-bottom: 5px;
}

.workflow-list li:last-child {
  width: 175px;
}

.workflow a,
.copyright a {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
}

.copyright {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  text-align: right;
}

.modal {
  color: #323232;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;

  background-color: #f8f7f4;
  border: 1px solid #979797;
}

.modal-feedback {
  width: 477px;
   display: none; /*Временно скрыла*/
}

.breadcrumbs {
  display: flex;
  align-items: center;
  align-self: flex-end;
}

.breadcrumbs a {
  position: relative;
  margin-right: 21px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
  text-decoration: underline;
}

.breadcrumbs .breadcrumbs-current {
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
}

.breadcrumbs a:focus,
.breadcrumbs a:hover {
  color: #ffbc9e;
}

.filters {
  width: 880px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;

}

.form-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 39px;
}

.filter-sort {
  width: 194px;
  margin-right: 14px;
}

.filter-fat {
  width: 415px;
}

.filter-fat-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-fill {
  width: 703px;
}

.filter-fill-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.range {
  width: 220px;
  margin-right: 14px;
}

.filters fieldset {
  border: none;
}

.filters select {
  background-color: #a0b3ab;
  border-radius: 50px;
}

.filter-fat-list li,
.filter-fill-list li {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.pagination-list {
  display: flex;
  justify-content: flex-end;
  margin-right: -9px;
}

.pagination-item a {
  width: 25px;
  height: 25px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  padding: 5px 0;
  margin-right: 4px; 
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #a0b3ab;
  border-radius: 50%;
}

.pagination-item-current a,
.pagination-item a:active {
  color: #353535;
  background-color: #fbfbfb;
  border-radius: 50%;
}
